<!DOCTYPE html>
<html>
<head>
  <link href="css/style.css" rel="stylesheet">
  
</head>
<body>
<form method="POST" action="/food">
  <h1> MAKE YOUR OWN ICE CREAM SUNDAE!</h1>
 <p>Your Favorite Flavor: <input type="text" name="favorite_flavor"></p>
 <p>Your Favorite Fruit: <input type="text" name="favorite_fruit"></p>
 <p>Your Favorite Candy: <input type="text" name="favorite_candy"></p>
 <p>Your Favorite Syrup: <input type="text" name="favorite_syrup"></p>
 <input type="submit">
</form>
</body>
</html>