<!DOCTYPE html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
  <style>
    body{
background: linear-gradient(gray, #9EF2F6) #9EF2F6;
}
h1 {
  font-family: Unica One;
  color: white
}

h3 {
  color: #4D5353
}

h2 {
  text-align: center;
  color: white;
  font-family: Cormorant Unicase;
}

ul {
  color: #D1EEF0;
  font: Georgia;
}
  </style>
</head>

<body>

<h1> <center>↣ m a d i s o n ~ p a r k e r ↢ </h1> 
<h3>by: hana memon </h3>
  <h2> things madison <i> loves </i> : </h2>
   
    <ul>
  <li> dogs, all of them</li>
  <li>taylor swift- is the ultimate role model and favorite musical artist </li>
  <li>favoirte foods:
  Ice Cream & Warm cake</>
 <h2>madison wants to visit: </h2>
  <li>Europe</li>
  <li>Austrailia</li>
</ul>
<a href="http://tinypic.com?ref=wv1icx" target="_blank"><img src="http://i68.tinypic.com/wv1icx.jpg" border="0" alt="Image and video hosting by TinyPic" class="center"></a> 
    
    </body>
